@font-face {
    font-family:'Breaking Bad' ;
    src: url(fuentes/Breaking\ Bad.ttf);
}

.con_fondo {
    background-image: url("img/fondo.jpg");
    width:auto;
    height: auto;
    margin: 0;
    background-attachment: fixed;
    background-size:cover;
    align-items: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-variant: "Helvetica";
    font-size: 10px;
    color: white;
    text-align: center;
}

.tabla_periodica {
    background-color: #0c3e11;
    color: #0c3e11;
}

h1{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: Helvetica;
    color: white;
   
}
.logo{
    background-image: url(img/logo.PNG);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    text-align: center;
}
.logoTabla{
    background-image: url(img/cabecera.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 400px;
    height: 200px;
}

h2{
    margin-top: 0px;
    font-family: 'Breaking Bad';
    font-size: 40px;
    text-align: center;
    padding-top: 0px;
}

#Poster {
    align-items: center;
    size: inherit;
    height: 300px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: brown 10px outset;
    border-radius: 22px;
    
}

.tabla1{
    margin-left: auto;
    margin-right: auto;
    background-color: #06220a;
    border: #06220a 5px solid;
    text-align: center;
    table-layout: fixed;
}

.tabla2{
    margin-left: auto;
    margin-right: auto;
    background-color: #06220a;
    border: #06220a 5px solid;
    height: 160px;
    width: 800px;
}
.tabla2 td{
    background-color: #c1c500;
    border: #06220a 3px solid;
}

td{
    text-align: center;
    height: 80px;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: Helvetica;
    border: #06220a 5px solid;
    b{
        font-size: 40px;
    }
    small{
        font-size: 10px;
    }
}
.Walter{
    background-image: url(img/Tabla\ Peri¢dica/walterwhite.png);
    background-position-x: center;
    background-position-y: top;
    background-size: auto;
    background-repeat: no-repeat;
    text-underline-position: below;
    padding-top: 80px;
    background-color:#b5da24;
}
.Skyler{
    background-image: url(img/Tabla\ Peri¢dica/skylerwhite.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#b5da24;
}
.Saul{
    background-image: url(img/Tabla\ Peri¢dica/saulgoodman.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#82a500;
}
.Jesse{
    background-image: url(img/Tabla\ Peri¢dica/jessiepinkman.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#82a500;
}
.Hector{
    background-image: url(img/Tabla\ Peri¢dica/hectorsalamanca.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#b5da24;
}
.Tuco{
    background-image: url(img/Tabla\ Peri¢dica/tucosalamanca.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#b5da24;
}
.Gustavo{
    background-image: url(img/Tabla\ Peri¢dica/gustavofrink.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#bac3a0;
}
.Gale{
    background-image: url(img/Tabla\ Peri¢dica/gale.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#bac3a0;
}
.Badger{
    background-image: url(img/Tabla\ Peri¢dica/badger.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#5f7112;
    
}
.Mike{
    background-image: url(img/Tabla\ Peri¢dica/mike.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color:#bac3a0;
}
.Marie{
    background-image: url(img/Tabla\ Peri¢dica/marieschrader.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-color: #a34fad;
}
.Hank {
    background-image: url(img/Tabla\ Peri¢dica/hankschrader.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.td_verde1{
    background-color: #b5da24;
}

.td_blanco{
    background-color:#eef6c4;
}

.td_verde2{
    background-color: #d1e771;
}

.td_verde3{
    background-color: #82a500;
}

.td_verde4{
    background-color: #5f7112;
}

.td_verde5{
    background-color: #b5da24;
}

.td_verde6{
    background-color: #7f8e46;
}

.td_gris{
    background-color: #bac3a0;
}
.cristal{
    background-image: url(img/Tabla\ Peri¢dica/cristal.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.pizza{
    background-image: url(img/Tabla\ Peri¢dica/pizza.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.calzoncillos{
    background-image: url(img/Tabla\ Peri¢dica/calzoncillos.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.pocima{
    background-image: url(img/Tabla\ Peri¢dica/pocima.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.mascara{
    background-image: url(img/Tabla\ Peri¢dica/mascara.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.movil{
    background-image: url(img/Tabla\ Peri¢dica/movil.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.plato{
    background-image: url(img/Tabla\ Peri¢dica/plato.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.pistola{
    background-image: url(img/Tabla\ Peri¢dica/pistola.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.mosca{
    background-image: url(img/Tabla\ Peri¢dica/mosca.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.bus{
    background-image: url(img/Tabla\ Peri¢dica/bus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
form{
    width: 300px;
    height: auto;
    border: 2px solid rgb(20, 195, 20);
    background-color: #bac3a04b;
    border-radius: 10px;
    margin: auto;
    padding: 2rem;
}
.campoForm{
    display: block;
}
.campoForm label{
    display: inline-block;
    width: 4rem;
    margin: 0.5rem 0rem;
}
textarea{
    width: 80%;
    height: 60%;
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#enviar{
    background-color: #7f8e46;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    margin-top: 2rem;
}
#borrar{
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    margin-top: 2rem;
}
#mensaje{
    resize: none;
}
.campoForm select{
    display: inline-block;
    width: 8rem;
    margin-left: auto;
    
}


